html,
body {
    background-color: #f5f5f7;
    margin: 0;
    padding: 0;
}

.container-register {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-register .card-login {
    text-align: center;
    height: fit-content;
    padding: 10px;
    width: 450px;
    background-color: #ffffff;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.8);
    border: 10px;
    border-radius: 50px;
}

.container-register .header {
    margin-bottom: 10px;
    color: black;
}

.container-register .input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    color: black;
}

.container-register .input-forms {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    color: black;

    height: 25px;
    width: 250px;
}

.container-register .buttons {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 50px;
    width: 250px;
    height: 35px;
    padding: 0px;
    margin-bottom: 10px;
}

.container-register form .buttons:hover {
    cursor: pointer;
    opacity: 0.8;
}

.container-register .links {
    margin: 0px;
    color: #1577da;
}

.container-register .success-message {
    color: #1577da;
}

.container-register .error-message {
    color: #F02849;
}
